h1{
    font-family: cursive;
    color: rgb(75, 44, 3);
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.5pc;
    position: static;
    top: 0%;


}
body{
    background-color: rgb(214, 208, 208);
    background-size: cover;
    }
.yourbuy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(144, 130, 112);
    text-align: left;
    
}
.imagen{
    position: fixed;
    left: 5%;
    top: 38%;
}
.contenedor{
    width: 50%;
    max-width: 1000px;
    padding: 25px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: lawngreen;
    align-items: center;
}
.tarjeta{
    width: 100%;
    max-width: 550px;
    z-index: 2;
    background-color: midnightblue;
}
.chip{
    width: 50%;
    max-width: 5px;
    margin-bottom: 20px;
}
.label{
    font-size: 18px;
    color: rgb(243, 245, 238);
    margin-bottom: 5px;
}
.numero,
.nombre,
.expiracion{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
  

